/* START ORDER */

#order {
  width: 100%;
  margin: 0;
  margin-bottom: 200px;
}

#order-one {
  width: 100%;
  text-align: center;
}

#order-two {
  width: 100%;
  margin-top: 20px;
}

#order-two h2 {
  display: block;
}

#order-form {
  padding: 50px 30px;
  border-radius: 10px;
  border: 2px solid rgba(102, 102, 102, 0.1);
  width: 500px;
  margin: auto;
  background-color: rgb(246, 246, 246);
}

.field {
  width: 100%;
  margin-bottom: 20px;
}

.field-label {
  display: inline-block;
}

.field-input {
  margin-top: 10px;
  width: 100%;
  border: 2px solid rgba(98, 98, 98, 0.1);
  border-radius: 5px;
}

.no-border {
  border: none;
}

.field-input-radio {
  display: inline-block;
  margin-right: 30px;
}

input.field-input,
select.field-input {
  padding: 10px;
}

#card-number {
  margin-top: 20px;
}

#button-submit > input {
  margin: auto;
}

#button-submit > input {
  cursor: pointer;
  width: 100px;
  background: #20b2aa;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  display: block;
}

#button-submit > input:hover {
  background: #252925;
}

#shipping-address {
  display: none;
  animation: fadeIn 1s;
}

#credit-card {
  display: none;
  animation: fadeIn 1s;
}

#same-delivery {
  float: right;
  display: none;
  animation: fadeIn 1s;
}

body {
  background: white;
}

/* HIDE AROW IN INPUT NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*END HIDE AROW IN INPUT NUMBER */

/* END order */

/* FOR MOBILE */
@media screen and (max-width: 1023px) {
  #order-one h1 {
    font-size: 14px;
  }

  #order-form {
    width: 100%;
    padding: 10% 4%;
  }
  .container {
    padding: 10% 5%;
  }

  .container-content {
    padding: 0;
  }
}
/* END FOR MOBILE */
